
@font-face {
    font-family: 's-core';
    src: url('/s-font/scdream4-webfont.woff2') format('woff2'),
         url('/s-font/scdream4-webfont.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 's-core';
    src: url('/s-font/scdream5-webfont.woff2') format('woff2'),
        url('/s-font/scdream5-webfont.woff') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 's-core';
    src: url('/s-font/scdream6-webfont.woff2') format('woff2'),
         url('/s-font/scdream6-webfont.woff') format('woff');
    font-weight: bold;
}